.offscreen {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

.no-selection {
  user-select: none;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

html {
  /* font-size: 16px; */

  /* font-size: 100% */

  /* 10 / 16 = 0.625 */

  font-size: 62.5%;

  /* innentől 1 rem = 10px */
  font-family: 'Heebo', sans-serif;
  background-color: #333448;
}

body {
  margin: 0;
  background: url('./img/banner.jpg') no-repeat center 50px/100%;
  height: 1500px;
  position: relative;
  right: 0;
  transition: right .5s ease-in-out;
  overflow-x: hidden;
}

header {
  background-color: #fff;
  padding: 0 10vw;
}

.header-container {
  display: flex;
  height: 7rem;

  /* függőleges középre igazítás */
  align-items: center;
}

.menu-button {
  font-size: 4rem;
  margin: 10px;
  display: none;
}

.logo {
  background-color: #036cd8;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  order: 1;
}

.logo a {
  color: white;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 4rem;
  text-decoration: none;
}

.close-menu {
  font-size: 3rem;
  text-align: right;
  margin-right: 20px;
  cursor: pointer;
  align-self: flex-end;
}

.main-menu {
  flex-grow: 1;
  height: 100%;
  order: 2;
}

.main-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-menu ul li {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

/* after: amire ráírjuk annak az elemnek a belsejébe, a legutolsó helyre
 * kerül... */
.main-menu ul li::after {
  content: "~";
  font-size: 1.5rem;
  font-weight: bold;
  color: #caab4e;
}

.main-menu ul li:last-child::after {
  /* ha display none lenne akkor ez az elem nem lézene, így */

  /* viszont létezik, csak nem látható */
  visibility: hidden;
}

.main-menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  /* ehhez képest akarjuk pozicionálni a kereső gombot! */
  position: relative;
  flex-grow: .5;
  order: 3;
}

.search-field {
  width: 100%;
  border: 1px solid #e0e0e0;
  font-size: 1.6rem;
  height: 3rem;
  padding-left: 10px;
  padding-right: 30px;
  box-sizing: border-box;
}

.search-button {
  position: absolute;
  top: 5px;
  right: 7px;
  border: none;
  background-image: url(./img/search.png);
  background-color: transparent;
  background-size: 100%;
  width: 20px;
  height: 20px;
}

.search-field::placeholder {
  color: #c4c4c4;
}

.search-field:focus {
  /* ez nem accessibility friendly!!! */

  /* nem akadálymentes megoldáls */
  outline: none;
}

.title {
  padding-top: 20vh;
}

.page-title {
  font-size: 8rem;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1rem;
  text-align: center;
  font-weight: bold;
  background-color: rgb(92, 138, 208);
  background-color: rgba(36, 53, 78, .34);
  width: 80vw;
  margin: 0 auto;
  padding: 6rem 0;
  border: 1px solid rgb(174, 255, 255);
  border: 1px solid rgba(174, 255, 255, .68);
  color: white;
}

.page-subtitle {
  text-align: center;
  color: #0091ff;
  background-color: #fff;
  width: 30vw;
  padding: 2rem 0;
  margin: -20px auto 0 auto;
  border-top: 3px solid #0091ff;
  font-size: 2rem;
}

@media (max-width: 1400px) {
  /* még nincs main... */
  main {
    margin: 20vw 3vw 0 3vw;
  }
}

@media (max-width: 1200px) {
  header {
    padding: 0;
  }

  header .search-bar {
    margin-right: 40px;
  }
}

@media (max-width: 960px) {
  .header-container {
    flex-wrap: wrap;
    height: auto;
  }

  .logo {
    order: 1;
    padding: 7px;
  }

  header .search-bar {
    order: 2;
    margin-left: auto;
  }

  header .main-menu {
    order: 3;
    height: 6rem;
    width: 100%;
  }
}

@media (max-width: 650px) {
  header .main-menu {
    display: none;
    position: absolute;
    top: 10px;
    right: -50%;
    flex-direction: column;
    width: 50%;
  }

  .main-menu ul li:not(:last-child)::after {
    content: "";
  }

  header .main-menu ul {
    flex-direction: column;
    margin-top: 20px;
  }

  .main-menu ul li {
    margin-bottom: 20px;
    justify-content: center;
  }

  header .main-menu ul li a {
    color: white;
  }

  .menu-button {
    display: block;
    order: 3;
    height: 46px;
    cursor: pointer;
  }

  .logo {
    padding: 17px;
  }

  .close-menu {
    color: white;
  }
}


/* JS specific code should always be at the end of this file */

.js-hidden {
  display: none;
}

/*  increasing specificity by 1 to make this selector stronger */
.main-menu.js-show {
  display: block;
}

.js-menu-open {
  right: 50%;
}
